.Title{
    color: #F94F6D;
    text-align: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: #1B244A;
    font-family: MyCustomFont;
    font-size: large;
    display: flex;
    flex-direction: column; /* Ensure the body is a column layout */
    height: 100vh; /* Make the body take the full height of the viewport */
}

@font-face {
    font-family: 'MyCustomFont';
    src: url("./CursedTimerUlil-Aznm.ttf");
}

.container {
    display: flex;
    justify-content: space-around; /* Space the teams evenly */
    align-items: center; /* Align items at the start */
    justify-content: center;
    flex: 1; /* Allow the container to grow and take available space */
}

.Board-Title {
    display: block;
    width: 149px;
    height: 36px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: #EEEEEE;
    font-family: Libertinus Serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 35.89px;
    text-align: center;
}

.home-points-text {
    display: block;
    border: solid #080001 3px;
    box-shadow: 0px 0px 5px #F94F6D;
    background-color: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.add-points-btn-layout {
    width: 170px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.btn {
    color: #9AABD8;
    font-family: MyCustomFont;
    width: 45px;
    height: 45px;
    background-color: inherit;
    border-radius: 5px;
    /* border-width: 2px; */
    border: solid #9AABD8 2px;
}

.btn:hover {
    background-color: #F94F6D;
}

#reset-btn:hover {
    background-color:#F94F6D ;
}



#fault-btn {
    width: 60px;
    height: 60px; 
}

.sum {
    font-family: MyCustomFont;
    font-weight: 400; 
    font-size: 90px;
    line-height: 126.67px;
    color: #F94F6D;
    margin-top: 1px;
    margin-left: 30px;
}

.ScorePoints {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Score-Board {
    /* border: solid red 2px; */
    text-align: center;
    margin-top: 100px;
    width: 300px;
    height: 200px; 
}

#reset-btn {
    margin-top: 175px;
    background-color: #bb4e62;
    width: 120px;
    height: 100px;
    border: none;
    font-size: x-large ;
}


.teams {
    width: 175px;
    display: flex; /* Ensure teams are displayed as flex items */
    flex-direction: column; /* Stack items vertically within each team */
    align-items: center; 
    color: #F94F6D;
    margin: 0 auto 0 auto;
}
